.AboutmeHero .icons{
    margin-top: 50px;
}
.AboutmeHero .icon{
    margin-right: 30px;
}
.AboutmeHero img{
    width: 350px;
}
.AboutmeHero .text{
    margin-left: 220px;
}
.AboutmeHero h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 6.4px;
    margin-bottom: 24px;
}
.AboutmeHero h2 {
    
    color: var(--paragraph-font-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 135px;
}
.AboutmeHero li{
    
    font-size: 24px;
    font-weight: 400;
}
ul li:not(:last-child) {
    margin-bottom: 30px;
   
}