.Auction .secOne{
    background-color: rgba(211, 116, 108, 1);
    padding: 170px 140px 80px 140px;
}
.Auction .secOne .row{
    margin: 0 auto;
        justify-content: center;
}
.Auction .secOne .pix{
    text-align: right;
}

.Auction .secondary-button{
    display: inline-flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 40px;
    border-radius: 50px;
    border: 3px solid #000;
    background-color: #FFF;
    margin-left: 30px;
}
.Auction .upper{
    
    margin-top: 160px;
    
}
.Auction .secTwo{
    
    padding: 170px 140px 80px 140px;
    
    
    background: linear-gradient(90deg, rgba(221, 221, 221, 1) 0%, rgba(231, 231, 231, 1) 12%, rgba(255, 255, 255, 1) 100%);
}
.Auction .secTwo .row{
    margin: 0 auto;
    justify-content: center;
}
.Auction .secTwo .text{
    font-size: 18px;
    max-width: 600px;
}

.Auction .secThree .pics{
    padding: 80px 250px;
}
.Auction .secThree .pic3{
    max-width: 400px;
     
}
.Auction .secThree .bl{
    margin-top: 55px;
}
.Auction .secThree .ProjectCaseStudy{
    text-align: center;
    align-items: center;
}
.Auction .secThree .textBox {
    max-width: 940px;
    margin: 0 auto;
    /* Centers the .textBox within its container */
    display: flex;
    flex-direction: column;
    /* Stacks content vertically */
    align-items: flex-start;
    /* Aligns items to the left */
    justify-content: center;
    /* Vertically centers content within the .textBox if it grows */
    padding: 20px 20px 50px 20px;
    /* Optional: Adds padding inside the box */
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
}

.Auction .secThree .paragraph {
    font-size: 20px;
    width: 100%;
    /* Ensure the paragraph takes full width of .textBox */
    text-align: left;
    font-weight: 350;
    margin-bottom: 20px;
    /* Adds spacing between paragraphs */
}

.Auction .secThree .paragraph strong {
    font-size: 20px;
    font-weight: 700;
}

.Auction .secThree .title1 {
    font-size: 40px;
    width: 100%;
    /* Ensure the title takes full width of .textBox */
    text-align: left;
    margin: 60px 0px 30px 0px;
    font-weight: 700;
}
.Auction .secThree .title2 {
    font-size: 30px;
    max-width: 900px;
    text-align: left;
    margin: 20px 0px 20px 0px;
    font-weight: 700;
}
.Auction .secThree img{
    max-width: 900px;
}