:root {
  --branding-color: black;
  --heading-font-family: 'Lato', sans-serif;
  --paragraph-font-color: #555;
  --background-text: #F7F6F7;
  --accent-color: #053154;

}
h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: var(--heading-font-family);
}

.primary-button:hover {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(73, 72, 72, 1) 100%);
}
.NavigationBar{
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.NavigationBar .logo {
  max-width: 40px;
  max-height: 100px;
}


.NavigationBar nav ul {
  margin-top: 20px;
  padding: 0;
}

.NavigationBar nav li {
  display: inline;
  list-style: none;
  margin-left: 40px;

}

.NavigationBar .navMenu {
  font-size: 18px;
  color: #555;
  text-decoration: none;
  transition: all 150s ease-in-out;

}

.NavigationBar .navMenu .dis {
  font-size: 18px;
  color: #555;
  text-decoration: none;
   
}
.NavigationBar .navMenu:hover {
  color: var(--branding-color);
  text-decoration: underline;

}

.NavigationBar .navMenu .active {
  color: var(--branding-color);
  text-decoration: underline;
  ;
}

.NavigationBar .primary-button{
    background-color: var(--branding-color);
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-family: var(--heading-font-family);
    border-top: 2px solid #424141;
  
    border-right: 2px solid #424141;
    border-left: 2px solid #424141;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}



.heroImage {
  width: 636px;
  height: 360px;
}
html {
  scroll-behavior: smooth;
}
