:root {
  --branding-color: black;
  --heading-font-family: 'Lato', sans-serif;
  --paragraph-font-color: #555;
  --background-text: #F7F6F7;
  --accent-color: #053154;

}
body {
  font-family: var(--heading-font-family);
}

.primary-button:hover {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(73, 72, 72, 1) 100%);
}




.heroImage {
  width: 636px;
  height: 360px;
}
html {
  scroll-behavior: smooth;
}

.HomepageTitle {
  margin: 100px 0px 80px 0px;

}

.HomepageTitle h1 {
  text-align: left;
  font-size: 70px;
  font-weight: 700;
  color: var(--paragraph-font-color);
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 0fr auto 5fr;
  grid-template-rows: 50px 0;
  grid-gap: 10px;
}
.HomepageTitle h1:after,
.HomepageTitle h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}

@media (max-width : 1000px){
  .HomepageTitle h1{
    font-size: 50px;
    grid-template-rows: 40px 0;
  }
    

}